<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	{% load static %}
<title>THE HOUSE OF SWEETS TOLARAM SWEETS</title>
<link href={% static "home/css/bootstrap.css" %} rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src={% static "home/js/jquery.min.js" %}></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href={% static "home/css/style.css" %} rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Cookery Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---->
<link href='//fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
<link href={% static "home/css/styles.css" %} rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/component.css" />
	<!-- animation-effect -->
<link href={% static "homecss/animate.min.css" %} rel="stylesheet"> 
<script src={% static "home/js/wow.min.js" %}></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->

</head>
<body>
<div class="header head">
	<div class="container">
		<div class="logo animated wow pulse" data-wow-duration="1000ms" data-wow-delay="500ms">
			<h1><a href="index.html"><span></span><img src={% static "home/images/oo.png" %} alt=""><img src={% static "home/images/oo.png" %} alt="">TOLARAM SWEETS</a></h1>
		</div>
		<div class="nav-icon">		
			<a href="#" class="navicon"></a>
				<div class="toggle">
					<ul class="toggle-menu">
						<li><a  href="{% url 'home:index' %}">Home</a></li>
						<li><a  href="/tolaram/menu">MENU</a></li>
						<li><a  href="/tolaram/blog">BOOK ORDERS</a></li>
						<li><a  href="/tolaram/typo">FESTIVE OFFERS</a></li>
						<li><a class="active" href="/tolaram/events">FEEDBACK</a></li>
						<li><a  href="/tolaram/contact">ABOUT US</a></li>
					</ul>
				</div>
			<script>
			$('.navicon').on('click', function (e) {
			  e.preventDefault();
			  $(this).toggleClass('navicon--active');
			  $('.toggle').toggleClass('toggle--active');
			});
			</script>
		</div>
	<div class="clearfix"></div>
	</div>
	<!-- start search-->	
		
</div>
<!--content-->
<div class="content">
	<div class="events">
		<div class="container">
			<div class="events-top">
				<div class="col-md-4 events-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
					<h3>FEEDBACK</h3>
					<label><i class="glyphicon glyphicon-menu-up"></i></label>
					<span>FOR CUSTOMER SATISFACTION</span>
				</div>
				<div class="col-md-8 events-right animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
					<p>PLEASE LET US KNOW YOUR EXPERIENCE WITH TOLRAM SWEETS.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="events-bottom">
				<div class="col-md-5 events-bottom1 animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
					<a href="single.html"><img src={% static "home/images/ev.jpg" %} alt="" class="img-responsive"></a>
				</div>
				<div class="col-md-7 events-bottom2 animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
					<h3>INDIAN SWEETS</h3>
					<label><i class="glyphicon glyphicon-menu-up"></i></label>
					<p>When it comes to selecting an Indian restaurant, most people choose the spot that creates the best chicken tikka masala or palak paneer. Dessert is often an afterthought and the less knowledgeable diner might just stick with the basics, from the ubiquitous Indian donut hole, known as gulab jamun, to the spongy ricotta cheese balls, rasgulla.

But diners with a sweet tooth should consider a variety of other options, including Indian ice cream kulfi, sweetened yogurt srikhand and carrot halwa. The dairy averse can opt for unique choices like Indian bread pudding at Passage to India or apricot compote offered at Masala Art.
					</p>
					<div class="read-more">						
						<a class="link link-yaku" href="single.html">
							<span>R</span><span>e</span><span>a</span><span>d</span> <span>M</span><span>o</span><span>r</span><span>e</span>					
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="events-bottom">
				<div class="col-md-7 events-bottom2 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
					<h3>INDIAN NAMKEENS</h3>
					<label><i class="glyphicon glyphicon-menu-up"></i></label>
					<p>We have all types of south indian namkeen at very reasonalble prices. . 
we offer best quality products to our customers and also very good after sale services. . . . 
there are many variety of namkeens like south mixture, punjabi mixture, chakli, banana chips, murku and also south indian biscuits.
					</p>
					<div class="read-more">						
						<a class="link link-yaku" href="single.html">
							<span>R</span><span>e</span><span>a</span><span>d</span> <span>M</span><span>o</span><span>r</span><span>e</span>					
						</a>
					</div>
				</div>
				<div class="col-md-5 events-bottom1 animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
					<a href="single.html"><img src={% static "home/images/ev1.jpg" %} alt="" class="img-responsive"></a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="events-bottom">
				<div class="col-md-5 events-bottom1 animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
					<a href="single.html"><img src={% static "home/images/ev2.jpg" %} alt="" class="img-responsive"></a>
				</div>
				<div class="col-md-7 events-bottom2 animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
					<h3>DRY FRUITS SWEETS</h3>
					<label><i class="glyphicon glyphicon-menu-up"></i></label>
					<p>DRY FRUIT BARFI: It might also be listed as burfee, barfi or barfee, but regardless of the spelling, diners can expect to dig into dense milk fudge, typically mixed with cashews, almond and other nuts.While it’s more commonly found in Indian grocery stores than restaurants, Masala Art at Southwest Waterfront serves a doda burfi made with wheat flour while Jaipur Royal Indian Cuisine in Fairfax serves a coconut burfi.
					</p>
					<div class="read-more">						
						<a class="link link-yaku" href="single.html">
							<span>R</span><span>e</span><span>a</span><span>d</span> <span>M</span><span>o</span><span>r</span><span>e</span>					
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="events-bottom">
				<div class="col-md-7 events-bottom2 animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
					<h3>BENGALI SWEETS</h3>
					<label><i class="glyphicon glyphicon-menu-up"></i></label>
					<p>Rasmalai: Cottage cheese balls swimming in sweetened milk made an appearance on many Indian menus, including DuPont Circle’s Le Mirch, Jyoti Indian Cuisine and Taj of India in Georgetown.

Rabri: Consisting of thickened, sweetened milk that is boiled for hours, the labor- and time-intensive dessert is a rare find on an Indian dessert menu. Fans of the sweet dish can order it at Bombay Club, where it’s topped with blueberries. Diners traveling near Baltimore can also order it at Sneha Indian Cuisine in Catonsville, whose kitchen is led by Rasika and Bombay Club alums Zamin Mohammed and Pan Singh.


					</p>
					<div class="read-more">						
						<a class="link link-yaku" href="single.html">
							<span>R</span><span>e</span><span>a</span><span>d</span> <span>M</span><span>o</span><span>r</span><span>e</span>					
						</a>
					</div>
				</div>
				<div class="col-md-5 events-bottom1 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
					<a href="single.html"><img src={% static "home/images/ev3.jpg" %} alt="" class="img-responsive"></a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>

<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-head">
				<div class="col-md-8 footer-top animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
					<ul class=" in">
						<li><a href="index.html">Home</a></li>
						<li><a  href="menu.html">Menu</a></li>
						<li><a  href="events.html">FEEDBACK</a></li>
						<li><a  href="contact.html">ABOUT US</a></li>
					</ul>					
						<span>HOUSE OF DELICIOUS SWEETS</span>
				</div>
				<div class="col-md-4 footer-bottom  animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
					<h2>TOLARAM SWEETS</h2>
					<label><i class="glyphicon glyphicon-menu-up"></i></label>
					<p>NEAR GOVT.PRESS BADA,LASHKAR GWALIOR(M.P.)..</p>
					<ul class="social-ic">
						<li><a href="#"><i></i></a></li>
						<li><a href="#"><i class="ic"></i></a></li>
						<li><a href="#"><i class="ic1"></i></a></li>
						<li><a href="#"><i class="ic2"></i></a></li>
						<li><a href="#"><i class="ic3"></i></a></li>
					</ul>

				</div>
			<div class="clearfix"> </div>
					
			</div>
			<p class="footer-class animated wow bounce" data-wow-duration="1000ms" data-wow-delay="500ms">&copy; 2018 TOLARAM SWEETS <a href="http://w3layouts.com/" target="_blank"></a> </p>
		</div>
	</div>			
	<!--//footer-->



</body>
</html>