<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	{% load static %}
<title>THE HOUSE OF SWEETS TOLARAM SWEETS</title>
<link href={% static "home/css/bootstrap.css" %} rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src={% static "home/js/jquery.min.js" %}></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href={% static "home/css/style.css" %} rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Cookery Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---->
<link href='//fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
<link href={% static "home/css/styles.css" %} rel="stylesheet">
<!-- animation-effect -->
<link href={% static "home/css/animate.min.css" %} rel="stylesheet"> 
<script src={% static "home/js/wow.min.js" %}></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->

</head>
<body>
<div class="header head">
	<div class="container">
		<div class="logo animated wow pulse" data-wow-duration="1000ms" data-wow-delay="500ms">
			<h1><a href="index.html"><span></span><img src={% static "home/images/oo.png" %} alt=""><img src={% static "home/images/oo.png" %} alt="">TOLARAM SWEETS MENU</a></h1>
		</div>
		<div class="nav-icon">		
			<a href="#" class="navicon"></a>
				<div class="toggle">
					<ul class="toggle-menu">
						<li><a  href="{% url 'home:index' %}">Home</a></li>
						<li><a class="active" href="/tolaram/menu">Menu</a></li>
						<li><a  href="/tolaram/blog">Blog</a></li>
						
						<li><a  href="/tolaram/events">Events</a></li>
						<li><a  href="/tolaram/contact">Contact</a></li>
					</ul>
				</div>
			<script>
			$('.navicon').on('click', function (e) {
			  e.preventDefault();
			  $(this).toggleClass('navicon--active');
			  $('.toggle').toggleClass('toggle--active');
			});
			</script>
		</div>
	<div class="clearfix"></div>
	</div>
	<!-- start search-->	
		
</div>
<!--content-->
	<div class="menu">
		<div class="container">
			<div class="menu-top">
				<div class="col-md-4 menu-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
					<h3>{{ products.0 }}</h3>
					<label><i class="glyphicon glyphicon-menu-up"></i></label>
					<span>There are many variations</span>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="menu-bottom animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
				{% if products %}
				{% for product in products %}
				<div class="col-md-4 menu-bottom1" style="margin-bottom: 30px;">
					<div class="btm-right">
						<a href={{ category.pk }}>
							<img src={{ product.img.url }} alt="" class="img-responsive" style="width:400px;height:300px; : ">
							<div class="captn">
								<h4>{{ product.name }}</h4>
								<p>{{ product.cost }}</p>				
							</div>
						</a>						
					</div>
				</div>
				{% endfor %}
				{% else %}
					<h1><strong>Items will be added soon</strong>  </h1>
				{% endif %}

				<div class="clearfix"> </div>				
			</div>
		</div>
	</div>
<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-head">
				<div class="col-md-8 footer-top animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
					<ul class=" in">
						<li><a href="index.html">Home</a></li>
						<li><a  href="menu.html">Menu</a></li>
						<li><a  href="events.html">FEEDBACK</a></li>
						<li><a  href="contact.html">ABOUT US</a></li>
					</ul>					
						<span>HOUSE OF DELICIOUS SWEETS</span>
				</div>
				<div class="col-md-4 footer-bottom  animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
					<h2>TOLARAM SWEETS</h2>
					<label><i class="glyphicon glyphicon-menu-up"></i></label>
					<p>NEAR GOVT.PRESS BADA,LASHKAR GWALIOR(M.P.)..</p>
					<ul class="social-ic">
						<li><a href="#"><i></i></a></li>
						<li><a href="#"><i class="ic"></i></a></li>
						<li><a href="#"><i class="ic1"></i></a></li>
						<li><a href="#"><i class="ic2"></i></a></li>
						<li><a href="#"><i class="ic3"></i></a></li>
					</ul>

				</div>
			<div class="clearfix"> </div>
					
			</div>
			<p class="footer-class animated wow bounce" data-wow-duration="1000ms" data-wow-delay="500ms">&copy; 2018 TOLARAM SWEETS <a href="http://w3layouts.com/" target="_blank"></a> </p>
		</div>
	</div>		
	<!--//footer-->

</body>
</html>