beautifulsoup4==4.7.1
certifi==2018.8.24
chardet==3.0.4
cycler==0.10.0
dj-database-url==0.5.0
Django==2.2.13
django-heroku==0.3.1
gunicorn==19.9.0
idna==2.8
kiwisolver==1.0.1
Pillow==5.2.0
pipenv==2018.7.1
psycopg2==2.7.5
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.5
requests==2.21.0
scipy==1.2.0
six==1.12.0
soupsieve==1.7
urllib3==1.24.1
virtualenv==16.0.0
virtualenv-clone==0.3.0
whitenoise==4.0
wikipedia==1.4.0
wordcloud==1.5.0
